<p>user-profile works!</p>
<h4>
  name is {{ name.toUpperCase() }}, whose salary is {{ salary }} and status of
  {{ name.toUpperCase() }} is
  {{ status }}
</h4>

<!-- <button [disabled]="isSituation">Click me</button>

<div>
  @for(user of names; track user.name) { @if(user.age>45) {
  <h1>{{ user.name }} have {{ user.work }} and his age is {{ user.age }}</h1>
  } @else {
  <h1>{{ user.name }}</h1>
  } }
</div> -->

<!-- Directive -->
<div *ngFor="let user of names">
  <h1>{{ user.name }} has {{ user.work }} and his age is {{ user.age }}</h1>
</div>
